/* genus modified*/
/*** delete bootstrap media query ***/
body {
  background-color: #eeeeee;
}
.container-fluid {
  max-width: 1024px;
}
.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page .page_inner {
  background: #fff;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.page_inner {
  padding: 30px;
}
.page_inner:before,
.page_inner:after {
  content: " ";
  display: table;
}
.page_inner:after {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
.control-group,
.table,
.page-header,
.sub-header {
  margin: 0 0 20px;
}
ul,
ol {
  margin-bottom: 20px;
}
.page-header h1,
.sub-header h1,
.table h1,
.page-header h2,
.sub-header h2,
.table h2,
.page-header h3,
.sub-header h3,
.table h3,
.page-header h4,
.sub-header h4,
.table h4,
.page-header h5,
.sub-header h5,
.table h5,
.page-header h6,
.sub-header h6,
.table h6,
.page-header form,
.sub-header form,
.table form {
  margin-bottom: 0;
}
h1,
.h1 {
  font-size: 30.1px;
  line-height: 1.3;
}
h2,
.h2 {
  font-size: 24.5px;
  line-height: 1.3;
}
h3,
.h3 {
  font-size: 17.5px;
  line-height: 1.4;
}
h4,
.h4 {
  font-size: 16.1px;
  line-height: 1.4;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 1.42857143;
}
.h1,
.h2,
.h3 {
  margin-top: 0;
  margin-bottom: 0;
}
.sub-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee;
}
.page-header h1,
.page-header h2 {
  font-size: 29.96px;
  line-height: 40px;
}
.sub-header h2,
.sub-header h3,
.sub-header h4 {
  font-size: 22.4px;
  line-height: 2.14285714;
  font-weight: normal;
  color: #333333;
}
.align-right,
.table .align-right,
.table .align-right {
  text-align: right;
}
.align-center,
.table .align-center,
.table .align-center {
  text-align: center;
}
form:before,
form:after {
  content: " ";
  display: table;
}
form:after {
  clear: both;
}
form.flat {
  margin: 0;
}
.select-open {
  width: 300px!important;
}
.errorlist {
  margin: 0;
  padding: 0 0 10px 0;
  color: #B94A48;
}
.errorlist li {
  padding: 0 0 5px 0;
  list-style: none;
}
.error-block {
  color: #b94a48;
  margin-top: 6px;
}
.control-label.required:after {
  color: #FF0000;
  content: "*";
  display: inline-block;
}
/* weird alternative to btn-block for specific use on the product page, where btn-block would cause a vertical misalignment when product size options are shown */
.btn-add-to-basket {
  width: 100%;
}
/* star rating functionality for product review page */
.reviewrating select {
  display: none;
}
.reviewrating .star-rating {
  margin-bottom: 10px;
  font-size: 280%;
}
.reviewrating .star-rating i {
  cursor: pointer;
}
.form-actions {
  margin: 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
  border-top: solid 1px #e5e5e5;
}
.header {
  position: relative;
  z-index: 2;
}
@media (min-width: 2px) {
  .header .page_inner {
    padding: 50px 0 40px;
  }
}
.header h1 {
  line-height: inherit;
  margin: 0;
  font-size: 30px;
}
.header .navbar-static-top {
  margin-bottom: 0;
}
@media (min-width: 2px) {
  #language_selector select {
    width: 100px;
  }
}
.basket-mini {
  margin-right: 15px;
}
.basket-mini .btn-group {
  margin-left: 10px;
}
.basket-mini .dropdown-menu {
  width: 400px;
  padding-bottom: 0px;
  max-width: none;
  z-index: 9999;
}
.basket-mini .dropdown-menu li {
  display: block;
}
.basket-mini-item li {
  border-top: 1px solid #eeeeee;
  padding: 10px 15px;
}
.basket-mini-item li:first-child {
  border-top: none;
}
.basket-mini-item .image_container {
  min-height: 70px;
}
.basket-mini-item .image_container img {
  max-height: 70px;
}
.basket-mini-item .image_container a {
  padding: 0;
}
.basket-mini-item a {
  color: #337ab7;
  font-weight: inherit;
  white-space: normal;
}
.basket-mini-item a.btn {
  color: #fff;
}
.basket-mini-item .form-actions {
  -webkit-border-radius: 0 0px 6px 6px;
  -moz-border-radius: 0 0px 6px 6px;
  border-radius: 0 0px 6px 6px;
  margin: 0px;
  overflow: hidden;
}
.basket-mini-item .form-actions h4 {
  margin-bottom: 10px;
}
ol.row,
ul.row {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
.row [class*="col-"].no-margin {
  margin-left: 0;
}
.product_pod {
  height: 370px;
  overflow: hidden;
  text-align: center;
  margin: 20px 0;
  position: relative;
}
.product_pod p,
.product_pod h3,
.product_pod h2,
.product_pod form {
  margin-bottom: 0;
}
.product_pod h3 {
  font-size: 14px;
  line-height: 1.42857143;
  margin-bottom: 0;
}
.product_pod .price_color {
  font-size: 16.1px;
  line-height: 1.4;
  color: #5cb85c;
}
.product_pod .availability,
.product_pod .price_color {
  min-height: 30px;
  white-space: nowrap;
}
.product_pod .image_container,
.product_pod .availability,
.product_pod .price_color {
  margin-bottom: 10px;
}
.product_pod .product_price {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.image_container {
  width: 100%;
  min-height: 165px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.image_container img {
  max-height: 155px;
  max-width: 100%;
  width: auto;
  margin: 0px auto;
}
a:hover .thumbnail {
  border-color: #337ab7;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.availability.outofstock {
  color: #d9534f;
}
.availability.instock {
  color: #5cb85c;
}
.price_color {
  display: block;
  color: #5cb85c;
  font-weight: bold;
}
.product_main .price_color {
  font-size: 26px;
}
.product_pod .price_color {
  margin-top: 0;
}
.es-carousel .price_color {
  font-size: 20px;
}
.review_add:before,
.review_all:before,
.review_read:before,
.side_categories:before,
.review_add:after,
.review_all:after,
.review_read:after,
.side_categories:after {
  content: " ";
  display: table;
}
.review_add:after,
.review_all:after,
.review_read:after,
.side_categories:after {
  clear: both;
}
.review_add li ul,
.review_all li ul,
.review_read li ul,
.side_categories li ul,
.review_add li ol,
.review_all li ol,
.review_read li ol,
.side_categories li ol {
  padding-left: 1.78571429em;
}
.add-to-basket {
  width: 220px;
  margin-bottom: 0;
  margin-right: 10px;
  *margin-right: 20px;
}
.add-to-basket,
.btn-wishlist {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.btn-wishlist {
  vertical-align: bottom;
}
.add-to-basket .btn,
.btn-wishlist {
  margin-bottom: 20px;
}
#add_review_form #id_title,
#add_review_form #id_body {
  width: 500px;
}
.review {
  margin-bottom: 20px;
}
.review:before,
.review:after {
  content: " ";
  display: table;
}
.review:after {
  clear: both;
}
.review h3 {
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review form {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin-bottom: 0;
}
.star-rating {
  color: #CBCBCB;
}
.star-rating i {
  letter-spacing: -1px;
  width: auto;
}
.star-rating a {
  margin-left: 10px;
}
.star-rating.One i:first-child {
  color: #E6CE31;
}
.star-rating.Two i:first-child,
.star-rating.Two i:first-child + i {
  color: #E6CE31;
}
.star-rating.Three i:first-child,
.star-rating.Three i:first-child + i,
.star-rating.Three i:first-child + i + i {
  color: #E6CE31;
}
.star-rating.Four i:first-child,
.star-rating.Four i:first-child + i,
.star-rating.Four i:first-child + i + i,
.star-rating.Four i:first-child + i + i + i {
  color: #E6CE31;
}
.star-rating.Five i {
  color: #E6CE31;
}
.promotion_single .image_container {
  min-height: 210px;
  margin-bottom: 20px;
}
.promotion_single .image_container img {
  max-height: 200px;
}
.sidebar .promotion_single h2 {
  font-size: 17.5px;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0;
}
.sidebar .promotion_single h3 {
  font-size: 14px;
  line-height: 1.42857143;
}
.sidebar .promotion_single .row > [class*="col-"] {
  float: none;
  width: auto;
}
input[type="text"][id*="quantity"],
input[type="number"][id*="quantity"] {
  max-width: 55px;
}
.checkout-quantity .input-group {
  max-width: 130px;
}
.checkout-quantity .input-group input[type="number"][id*="quantity"] {
  max-width: none;
}
.checkout-quantity input {
  margin-right: 2px;
  margin-bottom: 0px;
}
.basket-title {
  clear: both;
  border-bottom: 1px solid #c4c4c4;
  padding: 0 10px;
}
.basket-title h4 {
  margin: 0;
}
.basket-items {
  border-bottom: 1px solid #c4c4c4;
  padding: 10px;
  margin-bottom: 20px;
}
.basket-items:nth-child(even) {
  background: #f9f9f9;
}
.basket-items img {
  margin-left: auto;
  margin-right: auto;
}
.basket-items .price_color {
  font-size: 16.1px;
  line-height: 1.4;
  color: #5cb85c;
  font-weight: bold;
}
#basket_totals th small {
  font-weight: normal;
}
.total {
  background-color: #FDF5D9!important;
}
.choose-block ul:before,
.choose-block ul:after {
  content: " ";
  display: table;
}
.choose-block ul:after {
  clear: both;
}
.choose-block .well {
  position: relative;
  min-height: 240px;
}
.choose-block .well form {
  margin-bottom: 0;
}
.choose-block address {
  margin-bottom: 0;
}
.choose-block address span:first-child {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.choose-block .btn-primary,
.choose-block .btn-success {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.choose-block .address-controls {
  position: absolute;
  top: 30px;
  right: 30px;
}
#new_shipping_address #id_title,
#update_user_address #id_title {
  width: auto;
}
#new_shipping_address #id_line1,
#update_user_address #id_line1,
#new_shipping_address #id_line2,
#update_user_address #id_line2,
#new_shipping_address #id_line3,
#update_user_address #id_line3 {
  max-width: 300px;
}
#new_shipping_address #id_postcode,
#update_user_address #id_postcode {
  max-width: 100px;
}
#new_shipping_address #id_notes,
#update_user_address #id_notes {
  max-width: 600px;
  height: 100px;
}
.nav-checkout {
  text-align: center;
}
.nav-checkout.navbar .nav {
  margin: 0;
}
.nav-checkout .active .navbar-text {
  color: #fff;
}
.well:before,
.well:after {
  content: " ";
  display: table;
}
.well:after {
  clear: both;
}
.well-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.well-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.well-blank {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
}
.carousel {
  margin-bottom: 40px;
}
.carousel-indicators {
  top: auto;
  right: auto;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  *display: inline;
  *text-indent: 0;
  zoom: 1;
  float: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-align: center;
}
.carousel-indicators .active {
  background-color: #000;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: 0 auto;
}
#product_gallery .carousel-inner > .item {
  height: 400px;
  line-height: 400px;
  vertical-align: middle;
  text-align: center;
}
#product_gallery .carousel-inner > .item > img {
  display: inline-block;
  vertical-align: middle;
  max-height: 400px;
}
#product_gallery .carousel-control {
  background-image: none;
}
#product_gallery .carousel-indicators {
  position: static;
  bottom: 0;
  margin: 0;
  width: auto;
  display: block;
}
#product_gallery .carousel-indicators:before,
#product_gallery .carousel-indicators:after {
  content: " ";
  display: table;
}
#product_gallery .carousel-indicators:after {
  clear: both;
}
#product_gallery .carousel-indicators li {
  width: 17%;
  height: auto;
  display: block;
  float: left;
  margin: 5px;
  text-indent: 0;
  background-color: #fff;
  opacity: 50;
  filter: alpha(opacity=5000);
}
#product_gallery .carousel-indicators .active {
  opacity: 100;
  filter: alpha(opacity=10000);
}
#product_gallery .thumbnail {
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  position: relative;
}
