{% load i18n %}
{% load staticfiles %}





<!-- footer -->
<div class="footer">

        <p class="tag">#kamperkorea</p>

 <div class="sns">
        <a  href="#"><img src="{% static "kamper/images/icon_sns_1.jpg" %}" alt="mail" /></a>
        <a target="_blank" href="https://www.facebook.com/kamper.co.kr/"><img src="{% static "kamper/images/icon_sns_2.jpg" %}" alt="facebook" /></a>
        <a target="_blank" href="https://www.instagram.com/official_kamper/"><img src="{% static "kamper/images/icon_sns_3.jpg" %}" alt="Instagram" /></a>

    </div>

    <div class="payment-method">
        <div>
            <img class="paypallogo" style="width:120px; height:20px;margin-top: 10px " src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="PayPal Logo">
        </div>
    </div>

    <div class="footer_menu">
        <a href="{% url "others:aboutusView" %}">ABOUT KAMPER</a>
        <a href="{% url "others:memberView" %}">TEAM KAMPER</a>
        <a href="{% url "others:useragreementKRView" %}">USER AGREEMENT</a>
        <a href="{% url "others:privacypolicyKRView" %}">PRIVACY POLICY</a>
    </div>
    <p class="copyright">COPYRIGHT Ⓒ KAMPERKOREA 2016~2018 ALL RIGHTS RESERVED</p>
</div>

<!-- //footer -->



{#<!-- footer -->#}
{#<div class="footer">#}
{##}
{##}
{# <div class="sns">#}
{#        <a  href="#"><img src="{% static "kamper/images/icon_sns_1.jpg" %}" alt="mail" /></a>#}
{#        <a target="_blank" href="https://www.facebook.com/kamper.co.kr/"><img src="{% static "kamper/images/icon_sns_2.jpg" %}" alt="facebook" /></a>#}
{#        <a target="_blank" href="https://www.instagram.com/official_kamper/"><img src="{% static "kamper/images/icon_sns_3.jpg" %}" alt="Instagram" /></a>#}
{#        <p class="tag">#kamperkorea</p>#}
{##}
{#    </div>#}
{#    <div class="footer_logo"><img src="{% static "kamper/images/footer_logo.jpg" %}" alt="KAMPER" /></div>#}
{#    <address>서울특별시 영등포구 양산로 193 205호<br />193, Yangsan-ro, #205, Yeongdeungpo-gu, Seoul, Korea</address>#}
{#    <p>사업자등록번호 : 270-88-00529</p>#}
{#    <div>#}
{#        <span>TEL . +82 02 543 5051 / FAX . +82 02 2068 0178</span>#}
{#    </div>#}
{#    <p><span>E-MAIL . KAMPER@KAMPER.CO.KR</span></p>#}
{#    <p>WECHAT ID : KAMPER_KR  /  KAKAO ID : KAMPER_KR</p>#}
{##}
{#    <div class="payment-method">#}
{#        <div>#}
{#            <img class="paypallogo" style="width:120px; height:20px; " src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-small.png" alt="PayPal Logo">#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="footer_menu">#}
{#        <a href="{% url "others:aboutusView" %}">ABOUT KAMPER</a>#}
{#        <a href="{% url "others:memberView" %}">TEAM KAMPER</a>#}
{#        <a href="{% url "others:useragreementKRView" %}">USER AGREEMENT</a>#}
{#        <a href="{% url "others:privacypolicyKRView" %}">PRIVACY POLICY</a>#}
{#    </div>#}
{#    <p class="copyright">COPYRIGHT Ⓒ KAMPERKOREA 2016~2018 ALL RIGHTS RESERVED</p>#}
{#</div>#}
{##}
{#<!-- //footer -->#}
{#</div>#}


