container_commands:
  00pip_upgrade:
    command: "pip install --upgrade pip"
  01_setup_apache:
    command: "cp .ebextensions/enable_mod_deflate.conf /etc/httpd/conf.d/enable_mod_deflate.conf"
  02_http_to_https_redirect:
    command:
      sed -i '/\<VirtualHost \*:80\>/a RewriteEngine On\nRewriteCond %{HTTP:X-Forwarded-Proto} !https\nRewriteRule \!/robots.txt https://%{SERVER_NAME}%{REQUEST_URI} [L,R=301]' /opt/python/ondeck/wsgi.conf
  03_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput"
    leader_only: true
  04_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  05_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  08wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  11collectstatic:
    command: "django-admin.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: src.production_settings
    RDS_DB_NAME: "KAMPER"
    RDS_HOSTNAME: "aa5ji7js1hf4fv.cqtstugh14sk.ap-northeast-2.rds.amazonaws.com"
    RDS_PORT: 3306
    RDS_USERNAME: "kamperadmin"
    RDS_PASSWORD: "kamp12!!"

  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static_root/"
    "/media/": "media/"



  aws:elasticbeanstalk:container:python:
    WSGIPath: src/wsgi.py
    NumProcesses: 3
    NumThreads: 20


