
<body>

<div id="wrap">

<!-- header -->
<div class="header_wrap">
	<div class="header_top clfx">
		<div class="logo"><a href="index.html"><img src="images/logo.jpg" alt="KAMPER" /></a></div>

		<!-- search -->
		<div class="top_search_wrap">
			<div class="top_search">
				<form action="#" method="post">
					<fieldset>
						<legend>검색폼</legend>
						<input type="text" title="검색어 입력" placeholder=" Search" />
						<a href="#"><img src="images/btn_search.jpg" alt="" /></a>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //search -->

		<div class="util">
			<ul class="clfx">
				<li><a href="sub/login.html"><img src="images/icon_person.jpg" alt="login" /></a></li>
				<li><a href="sub/cart.html"><img src="images/icon_cart.jpg" alt="cart" /></a></li>
				<li class="language">
					<a href="#">ENGLISH</a>
					<ul class="other_site">
						<li><a href="#">KOREA</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<!-- gnb -->
	<div class="gnb_wrap">
		<div class="gnb">
			<ul class="clfx">
				<li>
					<a href="#">ALL-IN-ONE BOX</a>
				</li>
				<li>
					<a href="sub/phone_list.html">PHONE &amp; SIM CARDS</a>
				</li>
				<li class="sgnb_show">
					<a href="#">PRODUCTS</a>
					<div class="s_gnb_wrap">
						<div class="s_gnb">
							<img src="images/gnb_arrow.png" alt="" class="arrow" />
							<ul>
								<li><a href="#">PILLOW</a></li>
								<li><a href="sub/item_list.html">TOWEL</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">HOUSING</a>
				</li>
				<li>
					<a href="#">EVENTS &amp; TRAVEL </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- //gnb -->
</div>
<!-- //header -->

<!-- main_visual -->
<div class="main_visual_wrap">
	<div class="main_visual">
		<div class="main_vs_img"><img src="images/main_visual_bg.jpg" alt="" /></div>
		<div class="main_txt_area clfx">
			<div class="left">
				<p><img src="images/main_visual_txt.png" alt="Just what you need when you Land in Korea" /></p>
				<a href="#"><img src="images/btn_shop.gif" alt="shop now" /></a>
			</div>
			<div class="right"><img src="images/main_visual_img.png" alt="" /></div>
		</div>
	</div>
</div>
<!-- //main_visual -->

<!-- main_container -->
<div class="main_container clfx">
	<div class="left_area">
		<a href="#">
			<img src="images/m_img_1.jpg" alt="" class="bg" />
			<span class="txt"><img src="images/m_txt_1.png" alt="BEDDINGS Choose your beddings style" /></span>
		</a>
	</div>
	<div class="right_area">
		<div>
			<a href="#">
				<img src="images/m_img_2.jpg" alt="" class="bg" />
				<span class="txt"><img src="images/m_txt_2.png" alt="PHONE &amp; SIMS WIFI isn't everywhere" /></span>
			</a>
		</div>
		<div>
			<a href="#">
				<img src="images/m_img_3.jpg" alt="" class="bg" />
				<span class="txt"><img src="images/m_txt_3.png" alt="TOWELS I know Korean Towels are too small for you " /></span>
			</a>
		</div>
	</div>
</div>
<!-- //main_container -->

<!-- footer -->
<div class="footer clfx">
	<div class="left_area">
	<div class="footer_logo"><img src="images/footer_logo.jpg" alt="KAMPER" /></div>
		<address>서울특별시 영등포구 양산로 193 205호<br />Address: KAMPER KOREA, Namyoung B/D #205 Yeongdungpo-gu, Seoul, Republic of Korea </address>
		<p>사업자등록번호 : 270-88-00529</p>
		<div>
			<span>TEL . +82 02 543 5051</span>
			<span>FAX . +82 02 2068 0178</span>
			<span>E-MAIL . KAMPER@KAMPER.CO.KR</span>
		</div>
		<p>WECHAT ID : KAMPER_KR  /  KAKAO ID : KAMPER_KR</p>
		<ul class="menu clfx">
			<li><a href="#">ABOUT KAMPER</a></li>
			<li><a href="#">TEAM KAMPER</a></li>
			<li><a href="#">CONTACT US</a></li>
			<li><a href="#">USER AGREEMENT</a></li>
			<li><a href="#">PRIVACY POLICY</a></li>
		</ul>
		<p class="copyright">COPYRIGHT Ⓒ KAMPERKOREA 2016~2018 ALL RIGHTS RESERVED</p>
	</div>
	<div class="right_area">
		<div class="sns">
			<ul class="clfx">
				<li><a href="#"><img src="images/icon_sns_1.jpg" alt="mail" /></a></li>
				<li><a href="#"><img src="images/icon_sns_2.jpg" alt="facebook" /></a></li>
				<li><a href="#"><img src="images/icon_sns_3.jpg" alt="Instagram" /></a></li>
			</ul>
			<p class="tag">#kamperkorea</p>
		</div>
		<div class="top"><a href="#top">TOP</a></div>
	</div>
</div>
<!-- //footer -->

</div>
<!-- //wrap -->

</body>
</html>