{% extends "checkout/checkout.html" %}
{% load i18n %}
{##}
{#{% block title %}#}
{#    {% trans "Payment details" %} | {{ block.super }}#}
{#{% endblock %}#}

{#{% block checkout_nav %}#}
{#    {% include 'checkout/nav.html' with step=3 %}#}
{#{% endblock %}#}

{% block checkout_title %}{% trans "Enter payment details" %}{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}

    <div class="sub_bg">
        <div class="sub_container">

            <!-- navi -->
            <div class="navi clfx">
                <ul class="clfx">
                    <li> <span class="icon_home"><a href="{{ homepage_url }}">{% trans 'Home' %}</a></span></li>
                    <li class="active">{% trans 'order' %}</li>
                </ul>
            </div>
            <!-- //navi -->

            <div class="checkout_step">
                <ol class="clfx">
                    <li>
                        <span>01</span>
                        Shipping Adress
                    </li>
                    <li class="on">
                        <span>02</span>
                        Payment Detail
                    </li>
                    <li>
                        <span>03</span>
                        Preview
                    </li>
                    <li>
                        <span>04</span>
                        Confirmation
                    </li>
                </ol>
            </div>


            <div>
                {#PAYPAL Checkout#}
                <form action="{% url 'checkout:preview' %}" method="post" id="paypal_preview" style="margin-bottom:20px;">
                    {% csrf_token %}
                    <input type="hidden" name="action" value="Paypal" />
                    <button type="submit" class="btn btn-primary btn-lg  btn-block big-btn" >{% trans "PAYPAL CHECKOUT" %}</button>
                </form>

                {#ALIPAY Checkout#}
                <form action="{% url 'checkout:preview' %}" method="post" id="alipay_preview" >
                    {% csrf_token %}
                    <input type="hidden" name="action" value="Alipay" />
                    <button type="submit" class="btn btn-warning btn-lg  btn-block big-btn">{% trans "ALIPAY CHECKOUT" %}</button>

                </form>

            </div>
        </div>
    </div>

{% endblock %}

{% block payment_details %}
    {% block payment_details_content %}
    {% endblock payment_details_content %}
{% endblock payment_details %}
