<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
	<title>KAMPER</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,target-densitydpi=medium-dpi" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" href="../css/common.css"/>
	<script type="text/javascript" src="../js/jquery-1.11.2.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/modernizr.custom.39786.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/response.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/icheck.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/common.js" charset="utf-8"></script>
</head>

<body>

<div id="wrap">

<!-- header -->
<div class="header_wrap">
	<div class="header_top clfx">
		<div class="logo"><a href="../index.html"><img src="../images/logo.jpg" alt="KAMPER" /></a></div>

		<!-- search -->
		<div class="top_search_wrap">
			<div class="top_search">
				<form action="#" method="post">
					<fieldset>
						<legend>검색폼</legend>
						<input type="text" title="검색어 입력" placeholder=" Search" />
						<a href="#"><img src="../images/btn_search.jpg" alt="" /></a>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //search -->

		<div class="util">
			<ul class="clfx">
				<li><a href="../sub/login.html"><img src="../images/icon_person.jpg" alt="login" /></a></li>
				<li><a href="../sub/cart.html"><img src="../images/icon_cart.jpg" alt="cart" /></a></li>
				<li class="language">
					<a href="#">ENGLISH</a>
					<ul class="other_site">
						<li><a href="#">KOREA</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<!-- gnb -->
	<div class="gnb_wrap">
		<div class="gnb">
			<ul class="clfx">
				<li>
					<a href="#">ALL-IN-ONE BOX</a>
				</li>
				<li>
					<a href="phone_list.html">PHONE &amp; SIM CARDS</a>
				</li>
				<li class="sgnb_show">
					<a href="#">PRODUCTS</a>
					<div class="s_gnb_wrap">
						<div class="s_gnb">
							<img src="../images/gnb_arrow.png" alt="" class="arrow" />
							<ul>
								<li><a href="#">PILLOW</a></li>
								<li><a href="item_list.html">TOWEL</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">HOUSING</a>
				</li>
				<li>
					<a href="#">EVENTS &amp; TRAVEL </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- //gnb -->
</div>
<!-- //header -->

<!-- sub_container -->
<div class="sub_bg">
	<div class="sub_container">
		<!-- navi -->
		<div class="navi clfx">
			<ul class="clfx">
				<li class="icon_home">Home</li>
				<li>checkout</li>
				<li>Preview</li>
			</ul>
		</div>
		<!-- //navi -->

		<!-- preview -->
		<div class="preview">
			<div class="checkout_step">
				<ol class="clfx">
					<li>
						<span>01</span>
						Shipping Adress
					</li>
					<li>
						<span>02</span>
						Payment Detail 
					</li>
					<li class="on">
						<span>03</span>
						Preview
					</li>
					<li>
						<span>04</span>
						Confirmation
					</li>
				</ol>
			</div>

			<div class="clfx">
				<div class="preview_left_area">
					<h1>Items placed in order</h1>
					<div class="preview_tb">
						<table>
							<colgroup>
								<col style="width:150px;" />
								<col />
								<col style="width:18.6%;" />
								<col style="width:24.3%;" />
							</colgroup>
							<tbody>
								<tr>
									<td class="img_area"><a href="#"><img src="../images/cart_img.jpg" alt="" /></a></td>
									<td><a href="#">Soft Towels</a></td>
									<td>3</td>
									<td><strong>15,000</strong> won</td>
								</tr>
							</tbody>
						</table>
					</div>
				
					<h1>Shipping Information</h1>
					<div class="preview_txt">
						<p>Sangdo dong 350- 301<br />Seoul South Korea 130-022</p>
					</div>
				
					<h1>Credit Card Detail</h1>
					<div class="preview_txt mb_0">
						<p>ALL PAY</p>
					</div>
				</div>
				
				<div class="preview_right_area">
					<h1>Totals</h1>
					<div class="total_area">
						<div class="total_tb">
							<table>
								<colgroup>
									<col style="width:45%;" />
									<col style="width:10%;" />
									<col style="width:45%;" />
								</colgroup>
								<thead>
									<tr>
										<th scope="col">PRODUCT</th>
										<th scope="col"></th>
										<th scope="col">TOTAL</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th scope="row">Total </th>
										<td></td>
										<td class="total_price"><strong>45,000</strong> won</td>
									</tr>
								</tfoot>
								<tbody>
									<tr>
										<td>Soft Towels </td>
										<td>3</td>
										<td class="price"><strong>15,000</strong> won </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="btn_area clfx">
				<a href="#" class="basic-btn btn-gray f-l">PREV</a>
				<a href="checkout_3.html" class="basic-btn btn-black f-r">NEXT</a>
			</div>

		</div>
		<!-- //preview -->

	</div>
</div>
<!-- //sub_container -->

<!-- footer -->
<div class="footer clfx">
	<div class="left_area">
	<div class="footer_logo"><img src="../images/footer_logo.jpg" alt="KAMPER" /></div>
		<address>서울특별시 영등포구 양산로 193 205호<br />Address: KAMPER KOREA, Namyoung B/D #205 Yeongdungpo-gu, Seoul, Republic of Korea </address>
		<p>사업자등록번호 : 270-88-00529</p>
		<div>
			<span>TEL . +82 02 543 5051</span>
			<span>FAX . +82 02 2068 0178</span>
			<span>E-MAIL . KAMPER@KAMPER.CO.KR</span>
		</div>
		<p>WECHAT ID : KAMPER_KR  /  KAKAO ID : KAMPER_KR</p>
		<ul class="menu clfx">
			<li><a href="#">ABOUT KAMPER</a></li>
			<li><a href="#">TEAM KAMPER</a></li>
			<li><a href="#">CONTACT US</a></li>
			<li><a href="#">USER AGREEMENT</a></li>
			<li><a href="#">PRIVACY POLICY</a></li>
		</ul>
		<p class="copyright">COPYRIGHT Ⓒ KAMPERKOREA 2016~2018 ALL RIGHTS RESERVED</p>
	</div>
	<div class="right_area">
		<div class="sns">
			<ul class="clfx">
				<li><a href="#"><img src="../images/icon_sns_1.jpg" alt="mail" /></a></li>
				<li><a href="#"><img src="../images/icon_sns_2.jpg" alt="facebook" /></a></li>
				<li><a href="#"><img src="../images/icon_sns_3.jpg" alt="Instagram" /></a></li>
			</ul>
			<p class="tag">#kamperkorea</p>
		</div>
		<div class="top"><a href="#top">TOP</a></div>
	</div>
</div>
<!-- //footer -->

</div>
<!-- //wrap -->

</body>
</html>