<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
	<title>KAMPER</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,target-densitydpi=medium-dpi" /> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="description" content=""/>
	<meta name="keywords" content=""/>
	<link rel="stylesheet" href="../css/common.css"/>
	<script type="text/javascript" src="../js/jquery-1.11.2.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/modernizr.custom.39786.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/response.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/icheck.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="../js/common.js" charset="utf-8"></script>
</head>

<body>

<div id="wrap">

<!-- header -->
<div class="header_wrap">
	<div class="header_top clfx">
		<div class="logo"><a href="../index.html"><img src="../images/logo.jpg" alt="KAMPER" /></a></div>

		<!-- search -->
		<div class="top_search_wrap">
			<div class="top_search">
				<form action="#" method="post">
					<fieldset>
						<legend>검색폼</legend>
						<input type="text" title="검색어 입력" placeholder=" Search" />
						<a href="#"><img src="../images/btn_search.jpg" alt="" /></a>
					</fieldset>
				</form>
			</div>
		</div>
		<!-- //search -->

		<div class="util">
			<ul class="clfx">
				<li><a href="../sub/login.html"><img src="../images/icon_person.jpg" alt="login" /></a></li>
				<li><a href="../sub/cart.html"><img src="../images/icon_cart.jpg" alt="cart" /></a></li>
				<li class="language">
					<a href="#">ENGLISH</a>
					<ul class="other_site">
						<li><a href="#">KOREA</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<!-- gnb -->
	<div class="gnb_wrap">
		<div class="gnb">
			<ul class="clfx">
				<li>
					<a href="#">ALL-IN-ONE BOX</a>
				</li>
				<li>
					<a href="phone_list.html">PHONE &amp; SIM CARDS</a>
				</li>
				<li class="sgnb_show">
					<a href="#">PRODUCTS</a>
					<div class="s_gnb_wrap">
						<div class="s_gnb">
							<img src="../images/gnb_arrow.png" alt="" class="arrow" />
							<ul>
								<li><a href="#">PILLOW</a></li>
								<li><a href="item_list.html">TOWEL</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#">HOUSING</a>
				</li>
				<li>
					<a href="#">EVENTS &amp; TRAVEL </a>
				</li>
			</ul>
		</div>
	</div>
	<!-- //gnb -->
</div>
<!-- //header -->

<!-- sub_container -->
<div class="sub_bg">
	<div class="sub_container">
		<!-- navi -->
		<div class="navi clfx">
			<ul class="clfx">
				<li class="icon_home">Home</li>
				<li>Mypage</li>
			</ul>
		</div>
		<!-- //navi -->

		<!-- mypage -->
		<div class="pt_95 clfx">
			<!-- lnb -->
			<div class="lnb_area">
				<h1 class="title">My PAGE</h1>
				<ul class="lnb">
					<li class="lnb_on"><a href="mypage.html">Profile</a></li>
					<li><a href="order_history.html">Oder history</a></li>
				</ul>
			</div>
			<!-- //lnb -->

			<!-- sub_cont -->
			<div class="sub_cont">
				<div class="my_page">
					<table>
						<colgroup>
							<col style="width:28%;" />
							<col />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">NAME</th>
								<td>Daeen Choi</td>
							</tr>
							<tr>
								<th scope="row">EMAIL</th>
								<td>cde0701@gmail.com</td>
							</tr>
							<tr>
								<th scope="row">DATE REGISTERED</th>
								<td>2016.07.15</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- //sub_cont -->
		</div>
		<div class="txt_c"><a href="../index.html" class="basic-btn01 btn-black">Home</a></div>
		<!-- //mypage -->

	</div>
</div>
<!-- //sub_container -->

<!-- footer -->
<div class="footer clfx">
	<div class="left_area">
	<div class="footer_logo"><img src="../images/footer_logo.jpg" alt="KAMPER" /></div>
		<address>서울특별시 영등포구 양산로 193 205호<br />Address: KAMPER KOREA, Namyoung B/D #205 Yeongdungpo-gu, Seoul, Republic of Korea </address>
		<p>사업자등록번호 : 270-88-00529</p>
		<div>
			<span>TEL . +82 02 543 5051</span>
			<span>FAX . +82 02 2068 0178</span>
			<span>E-MAIL . KAMPER@KAMPER.CO.KR</span>
		</div>
		<p>WECHAT ID : KAMPER_KR  /  KAKAO ID : KAMPER_KR</p>
		<ul class="menu clfx">
			<li><a href="#">ABOUT KAMPER</a></li>
			<li><a href="#">TEAM KAMPER</a></li>
			<li><a href="#">CONTACT US</a></li>
			<li><a href="#">USER AGREEMENT</a></li>
			<li><a href="#">PRIVACY POLICY</a></li>
		</ul>
		<p class="copyright">COPYRIGHT Ⓒ KAMPERKOREA 2016~2018 ALL RIGHTS RESERVED</p>
	</div>
	<div class="right_area">
		<div class="sns">
			<ul class="clfx">
				<li><a href="#"><img src="../images/icon_sns_1.jpg" alt="mail" /></a></li>
				<li><a href="#"><img src="../images/icon_sns_2.jpg" alt="facebook" /></a></li>
				<li><a href="#"><img src="../images/icon_sns_3.jpg" alt="Instagram" /></a></li>
			</ul>
			<p class="tag">#kamperkorea</p>
		</div>
		<div class="top"><a href="#top">TOP</a></div>
	</div>
</div>
<!-- //footer -->

</div>
<!-- //wrap -->

</body>
</html>