{% extends "customer/baseaccountpage.html" %}

{% load i18n %}

{% block tabcontent %}
    <div class="sub_bg">
        <div class="sub_container">

            <div class="navi">
                <ul class="clfx">
                    <li><span class="icon_home"><a href="{{ homepage_url }}">{% trans 'Home' %}</a></span></li>
                    <li> <a href="{% url 'customer:summary' %}">{% trans 'My Page' %}</a></li>
                    <li class="active">{{ page_title }}</li>
                </ul>
            </div>

            <div class="mypage_wrap">
                <div class="mypage_tab">
                    <ul class="clfx">
                        <li class="on"><a href="{% url 'customer:profile-view' %}">{% trans "Profile" %}</a></li>
                        <li><a href="{% url 'customer:order-list' %}">{% trans "Order history" %}</a></li>
                    </ul>
                </div>
                <div class="sub_wrap">
                    <h1 style="padding: 45px 0 47px;height: 24px;">My Page</h1>
                </div>


                <div class="mypage_tb" >
                    <table>
                        <colgroup>
                            <col style="width:37%;" />
                            <col style="width:63%;" />
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">{% trans 'Name' %}</th>
                            <td>{{ user.get_full_name|default:'-' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans 'Email address' %}</th>
                            <td>{{ user.email }}</td>
                        </tr>

                        {% block profile_fields %}
                            {% for field in profile_fields %}
                                <tr>
                                    <th>{{ field.name }}</th>
                                    <td>{{ field.value|default:"-" }}</td>
                                </tr>
                            {% endfor %}
                        {% endblock %}
                        <tr>
                            <th scope="row">{% trans 'Date registered' %}</th>
                            <td>{{ user.date_joined }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>




                <div style="margin:auto; text-align: center">
                    <button class="btn btn-default" style="border: 1px  solid #ff8860"> <a href="{% url 'customer:change-password' %}"style="color: #ff8860">{% trans 'Change password' %}</a></button>
                    <button class="btn btn-default" style="border: 1px  solid #ff8860"> <a href="{% url 'customer:profile-update' %}" style="color: #ff8860">{% trans 'Edit profile' %}</a></button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{##}
{#<!-- sub_container -->#}
{#<div class="sub_bg">#}
{#    <div class="sub_container">#}
{#        <!-- navi -->#}
{#        <div class="navi">#}
{#            <ul class="clfx">#}
{#                <li><span class="icon_home">Home</span></li>#}
{#                <li>My page</li>#}
{#            </ul>#}
{#        </div>#}
{#        <!-- //navi -->#}
{##}
{#        <!-- mypage -->#}
{#        <div class="mypage_wrap">#}
{#            <div class="mypage_tab">#}
{#                <ul class="clfx">#}
{#                    <li class="on"><a href="mypage.html">Profile</a></li>#}
{#                    <li><a href="order_history.html">Oder history</a></li>#}
{#                </ul>#}
{#            </div>#}
{##}
{#            <div class="sub_wrap">#}
{#                <h1><img src="../images/title_mypage.png" alt="mypage" /></h1>#}
{##}
{#                <div class="mypage_tb">#}
{#                    <table>#}
{#                        <colgroup>#}
{#                            <col style="width:37%;" />#}
{#                            <col style="width:63%;" />#}
{#                        </colgroup>#}
{#                        <tbody>#}
{#                        <tr>#}
{#                            <th scope="row">NAME</th>#}
{#                            <td>Daeen Choi</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th scope="row">EMAIL</th>#}
{#                            <td>cde0701@gmail.com</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <th scope="row">REGISTERED DATE</th>#}
{#                            <td>2016.07.15</td>#}
{#                        </tr>#}
{#                        </tbody>#}
{#                    </table>#}
{#                </div>#}
{##}
{#                <div class="btn_area">#}
{#                    <a href="../index.html" class="basic-btn btn-black">HOME</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <!-- //mypage -->#}
{##}
{#    </div>#}
{#</div>#}
{#<!-- //sub_container -->#}
