<!DOCTYPE html>
<html lang="ko" xml:lang="ko">
<head>
    <title>KAMPER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,target-densitydpi=medium-dpi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="css/common.css"/>
    <script type="text/javascript" src="js/jquery-1.11.2.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/modernizr.custom.39786.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/response.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/jquery.touchSwipe.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/icheck.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/common.js" charset="utf-8"></script>
</head>

<body>

<div id="wrap">

    <!-- header -->
    <div class="header clfx">
        <div class="logo"><a href="index.html"><img src="images/logo.jpg" alt="KAMPER" /></a></div>

        <!-- search -->
        <div class="top_search_wrap">
            <form action="#" method="post">
                <fieldset>
                    <legend>검색폼</legend>
                    <div class="top_search">
                        <input type="text" title="검색어입력" />
                        <a href="#"><img src="images/btn_search.jpg" alt="검색" /></a>
                    </div>
                </fieldset>
            </form>
        </div>
        <!-- //search -->


        <!-- gnb -->
        <div class="gnb_wrap">
            <div class="util_area clfx">
                <div class="util">
                    <!-- 로그인전 -->
                    <li class="util_login"><a href="sub/login.html">LOGIN</a></li>
                    <li><a href="sub/register.html">REGISTER</a></li>
                    <!-- 로그인후
                    <li><a href="#"><img src="images/icon_login.png" alt="로그인" /></a></li>
                    <li><a href="sub/cart.html"><img src="images/icon_cart.png" alt="장바구니" /><span>1</span></a></li>
                    -->
                </div>

                <div class="language">
                    <a href="#">English</a>
                    <ul class="other_site">
                        <li><a href="#">English</a></li>
                        <li><a href="#">Korea</a></li>
                    </ul>
                </div>
            </div>

            <div class="gnb">
                <ul>
                    <li><a href="#">ALL-IN-ONE BOX</a></li>
                    <li><a href="sub/phone_list.html">PHONE &amp; SIM CARDS</a></li>
                    <li class="sgnb_show">
                        <a href="#"><span>PRODUCTS</span></a>
                        <ul class="s_gnb">
                            <li><a href="#">BLANKETS</a></li>
                            <li><a href="#">PILLOWS</a></li>
                            <li><a href="sub/item_list.html">TOWELS</a></li>
                            <li><a href="#">BEDSHEETS</a></li>
                        </ul>
                    </li>
                    <li><a href="#">HOUSING</a></li>
                    <li><a href="#">EVENTS &amp; TRAVEL</a></li>
                </ul>
            </div>
        </div>
        <!-- //gnb -->
    </div>
    <div class="gnb_bg"></div>
    <!-- //header -->

    <!-- main_visual -->
    <div class="main_visual">
        <div class="main_vs_img"><img src="images/main_visual.jpg" alt="" /></div>

        <div class="main_vs_txt">
            <div class="txt_1"><img src="images/main_visual_txt.png" alt="Just what you need when you Land in Korea" /></div>
            <a href="#"><img src="images/main_visual_btn.gif" alt="shop now" class="txt_2" /></a>
            <div class="txt_3"><img src="images/main_visual_img.png" alt="" /></div>
        </div>
    </div>
    <!-- //main_visual -->

    <!-- main_container -->
    <div class="main_container">
        <div>
            <a href="#">
                <img src="images/mian_img_1.jpg" alt="" class="bg" />
                <span class="main_txt"><img src="images/main_txt_1.png" alt="BEDDINGS Choose your beddings style" /></span>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="images/mian_img_2.jpg" alt="" class="bg" />
                <span class="main_txt"><img src="images/main_txt_2.png" alt="PHONE &amp; SIMS WIFI isn't everywhere" /></span>
            </a>
        </div>
        <div>
            <a href="#">
                <img src="images/mian_img_3.jpg" alt="" class="bg" />
                <span class="main_txt"><img src="images/main_txt_3.png" alt="TOWELS I know Korean Towels are too small for you " /></span>
            </a>
        </div>
    </div>
    <!-- //main_container -->

    <!-- footer -->
    <div class="footer">
        <div class="sns">
            <a href="#"><img src="images/icon_sns_1.jpg" alt="sms" /></a>
            <a href="#"><img src="images/icon_sns_2.jpg" alt="facebook" /></a>
            <a href="#"><img src="images/icon_sns_3.jpg" alt="instargram" /></a>
        </div>
        <p class="tag">#kamperkorea</p>
        <div class="footer_logo"><img src="images/footer_logo.jpg" alt="CAMPER" /></div>
        <address>서울특별시 영등포구 양산로 193 205호<br />KAMPER KOREA, Namyoung B/D #205 Yeongdungpo-gu, <br />Seoul, Republic of Korea </address>
        <p>사업자등록번호 : 270-88-00529</p>
        <p>
            <span>TEL . +82 02 543 5051</span>
            <span>Fax . +82 02 2068 0178</span>
        </p>
        <p>E-mail . kamper@kamper.co.kr</p>
        <p>Wechat ID : kamper_kr  /  Kakao ID : kamper_kr</p>

        <div class="footer_menu">
            <a href="#">ABOUT KAMPER</a>
            <a href="#">TEAM KAMPER</a>
            <a href="#">CONTACT US</a>
            <a href="#">USER AGREEMENT</a>
            <a href="#">PRIVACY POLICY</a>
        </div>
        <p class="copyright">Copyright &copy; KamperKorea 2016~2018 All Rights Reserved</p>
    </div>
    <!-- //footer -->

</div>
<!-- //wrap -->

</body>
</html>