{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}

{% comment %}
Kamper 사용
layout을 복사했다
리펙토링 필요
{% endcomment %}

{% block styles %}
    {% if use_less %}

    {% else %}
        <link rel="stylesheet" href="{% static "kamper/mobile/css/mobile_common.css" %}"/>


        <link rel="stylesheet" type="text/css" href="{% static "kamper/css/kamper_mobile.css" %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static "kamper/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "kamper/css/datetimepicker.css" %}" />

{% endblock %}

{% block layout %}
    <div id="wrap">
        {# Top-horizontal bar with account, notifictions, dashboard links #}
        {% include "partials/nav/nav_top.html" %}

        {# Main content of page - other layout templates may override this block #}
        {% block content_wrapper %}
            <div class="container-fluid page">
                <div class="page_inner">

                    {% block header %}
                        {#                        <div class="page-header action">#}
                        {#                            <h1>{% block headertext %}{% endblock %}</h1>#}
                        {#                        </div>#}
                    {% endblock %}

                    {% include "partials/alert_messages.html" %}


                    {% block subnavigation %}{% endblock %}
                    {% block category_banner %}{% endblock %}

                    <div class="content">
                        {% block subheader %}{% endblock subheader %}

                        {# Render promotions #}
                        <div id="promotions">
                            {% for promotion in promotions_page %}
                                {% render_promotion promotion %}
                            {% endfor %}
                        </div>

                        {# Div exists for AJAX updates to entire content section #}
                        <div id="content_inner">
                        <!-- sub_container -->

                            <div class="sub_bg">
                                <div class="sub_container">
                                    {% block content %}

                                    {% endblock %}
                                </div>
                            </div>
                        <!-- sub_container -->

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% include "partials/footer.html" %}
    </div>
{% endblock %}

{% block cdn_scripts %}
    {{ block.super }}
    {% if use_less and debug %}
        {# Load the on-the-fly less compiler. Never do this in production. #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "kamper/js/jquery-1.11.2.js" %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static "kamper/mobile/js/modernizr.custom.39786.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "kamper/mobile/js/response.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "kamper/mobile/js/jquery.carouFredSel-6.2.1-packed.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "kamper/mobile/js/jquery.touchSwipe.min.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "kamper/mobile/js/mobile_common.js" %}" charset="utf-8"></script>


    <!-- Twitter Bootstrap -->
    {#    <script type="text/javascript" src="{% static "kamper/js/jquery/jquery-1.9.1.min.js" %}"></script>#}
    <script type="text/javascript" src="{% static "kamper/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "kamper/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "kamper/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "kamper/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "kamper/js/kamper.js" %}" type="text/javascript" charset="utf-8"></script>


{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
